@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply text-primary;
    }
    .active::before {
        content: '<';
        @apply mr-1;
    }
    .active::after {
        content: '/>';
        @apply ml-1;
    }

    .styled-li {
        @apply flex;
    }
    .styled-li::before {
        content: '</>';
        @apply mr-2 text-primary font-bold;

    }
}

.shadow-filter {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    @apply font-mono bg-dark text-gray-300 leading-8 ;
}

@keyframes fillUp {
    0% {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: bottom;
    }
}

@keyframes emptyDown {
    0% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: bottom;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: bottom;
    }
}
