@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply text-primary;
    }
    .active:before {
        content: '<';
        @apply mr-1;
    }
    .active:after {
        content: '/>';
        @apply ml-1;
    }
}

.shadow-filter {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

body {
    @apply font-mono bg-dark text-gray-300 ;
}
